* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  flex: 1;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  height: 40px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
}

iframe#proxy {
  display: none;
  width: 100%;
  height: 100%;
  border: none;
}
